<div id="app" class="{{ gameState }}" [class.transitioning]="isTransitioning" [class.round-ending]="roundEnding">
  <app-modal-controls [active]="false"></app-modal-controls>
  <app-modal-splash
    [active]="isSplashActive"
    [hidding]="isSplashHidding"
    [hidden]="isSplashHidden"
    [complete]="isSplashComplete"
    [loading]="isSplashLoading"
    (onJoinEvent)="onJoinEvent()"
  ></app-modal-splash>

  <app-modal-results
  [answer]="episodeAnswer"
  [question]="episodeQuestion"
  [isResultsShowing]="isResultsShowing"
  [isResultsEntering]="isResultsEntering"
  [isResultsLeaving]="isResultsLeaving"
  [isResultsEntered]="isResultsEntered"

  ></app-modal-results>

  <app-game-header
    [isAnswerSelected]="isAnswerSelected"
    [isVoteSelected]="isVoteSelected"
    [pageMessage]="pageMessage"
    [headerMessage]="headerMessage"
    [playerName]="playerName"
    [score]="gameService.score"
    [round]="round"
    [roundTime]="roundTime"

  >
  </app-game-header>

  <app-game-board [question]="game.episode.question.text"></app-game-board>
  <app-game-footer [question]="game.episode.question.text" [isVotePageLeaving]="isVotePageLeaving"></app-game-footer>

  <div class="player-hand" [class.hidden]="handHidden">
    <ul
      class="cards"
      #playerHandSlider
      >

      <li
        *ngFor="let card of player.hand; let i = index"
        (panstart)="onAnswerPanStart($event, i)"
        (panup)="onAnswerPanMove($event)"
        (pandown)="onAnswerPanMove($event)"
        (panend)="onAnswerPanEnd($event)"
        (swipe)="onAnswerSwipe($event)"
        data-mc-options='{ "touchAction": "pan-x" }'
        [class.chosen]="getAnswerVisibility(i)"
      >

        <div class="card-content" [style.marginTop]="getAnswerTranslate(i)">
          <div class="card-body">
            <h2>{{ card.text }}</h2>
            <img src="assets/images/logo-white.png" />
          </div>
        </div>
      </li>
      <li
        *ngIf="
          gameState == 'enter-page-answer' || gameState == 'enter-page-vote'
        "
      >
        <div class="card-content placeholder">
          <div class="card-body">
            <h2>Placeholder</h2>
            <img src="assets/images/logo-white.png" />
          </div>
        </div>
      </li>
      <li
        *ngIf="
          gameState == 'enter-page-answer' || gameState == 'enter-page-vote'
        "
      >
        <div class="card-content placeholder">
          <div class="card-body">
            <h2>Placeholder</h2>
            <img src="assets/images/logo-white.png" />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="vote-list" [class.hidden]="voteHidden || isVotePageLeaving">
    <ul
      class="cards"
      #voteListSlider
      [class.vote-page-leaving]="isVotePageLeaving"
    >
      <!-- [class.overflow-x-hidden]="isVoteSelected" -->
      <li>
        <div class="card-content placeholder">
          <!-- <div class="card-body">
            <h2>Placeholder</h2>
            <img src="assets/images/logo-white.png" />
          </div> -->

          <div>
            <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="card-throw">
              <div class="card-content">
                <div class="card-body">
                  <img src="assets/images/logo-white.png" />
                </div>
              </div>
            </div>
            <div class="card-throw">
              <div class="card-content">
                <div class="card-body">
                  <h1>Time to vote</h1>
                  <img src="assets/images/logo-white.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li *ngIf="isVotePageLeaving">
        <div class="card-content placeholder-leave"></div>
      </li>
      <li *ngIf="isVotePageLeaving">
        <div class="card-content placeholder-leave"></div>
      </li>
      <li
        *ngFor="let card of game.episode.answers; let i = index"
        (panstart)="onVotePanStart($event, i)"
        (pan)="onVotePanMove($event)"
        (panend)="onVotePanEnd($event)"
        (swipe)="onVoteSwipe($event)"
        class="vote-card"
        [class.chosen]="getVoteVisibility(i)"
      >
        <div class="card-content" [style.marginTop]="getVoteTranslate(i)">
          <!-- [style.marginTop]="getAnswerTranslate(i)" -->
          <div class="card-body">
            <h2>{{ card.text }}</h2>
            <img src="assets/images/logo-white.png" />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <app-button-voice-message
    (onVoiceEvent)="onVoiceEvent($event)"
    (onVoiceMessage)="onVoiceMessage($event)"
  ></app-button-voice-message>
</div>
