<app-header
  [state]="state"
  [name]="name"
  [score]="score"
  [round]="round"
  ></app-header>

  <main class="vote-page__answers">
    <div class="vote-page__answers-slider">
      <div>&nbsp;</div>
      <div class="player-card" *ngFor="let answer of answers; let i = index" (click)="voteAnswer(i)">
        <div [class.selected]="selectedAnswerIndex == i" [class.transition]="selectedAnswerIndex > -2" [class.gone]="chosenAnswerIndex == i">
          <div class="player-card-actions">

            <div class="player-card-confirm" (click)="confirmAnswer(i)"></div>
            <div class="player-card-discard" (click)="discardAnswer(i)"></div>
          </div>
          {{answer.text}}
        </div>
        <span class="vote-info">+1 <br />Point </span>
      </div>

      <div>&nbsp;</div>
    </div>
  </main>
  <main class="vote-page__question-container">
    <div class="question">
      <div>What is a must-have at a children's party?</div>
    </div>
  </main>
