<div class="player-hand" [class.hidden]="handHidden">
  <ul
    class="cards"
    #playerHandSlider
    >

    <li
      *ngFor="let card of player.hand; let i = index"
      (panstart)="onAnswerPanStart($event, i)"
      (panup)="onAnswerPanMove($event)"
      (pandown)="onAnswerPanMove($event)"
      (panend)="onAnswerPanEnd($event)"
      (swipe)="onAnswerSwipe($event)"
      data-mc-options='{ "touchAction": "pan-x" }'
      [class.chosen]="getAnswerVisibility(i)"
    >

      <div class="card-content" [style.marginTop]="getAnswerTranslate(i)">
        <div class="card-body">
          <h2>{{ card.text }}</h2>
          <img src="assets/images/logo-white.png" />
        </div>
      </div>
    </li>
    <li
      *ngIf="
        gameState == 'enter-page-answer' || gameState == 'enter-page-vote'
      "
    >
      <div class="card-content placeholder">
        <div class="card-body">
          <h2>Placeholder</h2>
          <img src="assets/images/logo-white.png" />
        </div>
      </div>
    </li>
    <li
      *ngIf="
        gameState == 'enter-page-answer' || gameState == 'enter-page-vote'
      "
    >
      <div class="card-content placeholder">
        <div class="card-body">
          <h2>Placeholder</h2>
          <img src="assets/images/logo-white.png" />
        </div>
      </div>
    </li>
  </ul>
</div>
