<footer class="hand-container" id="player-hand">
  <div class="player-hand-controls">
    <div class="player-hand-controls__left" (click)="prevCard()"></div>
    <div class="player-hand-controls__mid" (click)="selectCard()"></div>
    <div class="player-hand-controls__right" (click)="nextCard()"></div>
  </div>
  <div class="player-hand">
    <div class="player-card"
      *ngFor="let card of cards; index as i"
      [class.selected]="i == selectedCardIndex"
      [class.prev]="i == prevCardIndex"
      [class.next]="i == nextCardIndex"
      [class.prev2]="i == prevPrevCardIndex"
      [class.next2]="i == nextNextCardIndex"
      [class.chosen]="i == chosenCardIndex"
      [class.gone]="i == answeredCardIndex"

      >
      <div class="player-card-actions">

        <div class="player-card-confirm" (click)="confirmAnswer()"></div>
        <div class="player-card-discard" (click)="discardAnswer()"></div>
      </div>
      {{ card.text }}
    </div>
    <!--
    <div class="player-card selected">Alcoholism</div>
    <div class="player-card next">Carlos Cruz</div>
    <div class="player-card next2">My wife</div>
    <div class="player-card">O zé na noite</div>
    <div class="player-card">Michael jackson</div>
    <div class="player-card">Child abuse</div>
    <div class="player-card">A defective condom</div>
    <div class="player-card">Two girls one cup</div>
    <div class="player-card prev2">My sister</div>
    <div class="player-card prev">Your uncle</div>
  --></div>
</footer>
