.main {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 800px;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* width: 80%; */
  width: 100%;
}
.cell {
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.92);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 350px;
  transform-origin: center bottom;
  background: red;
}
.picker {
  position: relative;
  overflow: visible;
  width: 100vw;
  height: 90vh;
  border-radius: 2px;
  background-color: transparent;
  // box-shadow: rgba(0, 0, 0, 0.75) 48px 0px 32px -10px inset,
  //   rgba(0, 0, 0, 0.75) -48px 0px 17px -7px inset;
}
.picker-wrapper {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: transparent;
  // box-shadow: rgba(0, 0, 0, 0.75) 48px 0px 32px -10px inset,
  //   rgba(0, 0, 0, 0.75) -48px 0px 17px -7px inset;
  // overflow: hidden;
}
/* .cell:nth-child(1){
  left: 8em;
  top: 4em;
} */

.game-player-card {
  width: 250px;
  height: 350px;
  border-radius: 0.75rem;
  padding: 2rem;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 0.5em 0.65em #0000000d;
  font-size: 2em;
  margin-left: -3.5rem;
  opacity: 1 !important;
}


.card-index{
  z-index: 100;
}
