<div id="root">
  <div
    class="player-hand player-hand-index-{{ playerHandCardIndex }} {{
      isNavigatingClass
    }}"
  >
    <div
      class="shake-container {{ isShakingClass }}"
      [style.zIndex]="isPanReseting ? -1 : 11"
    >
      <div
        (pan)="onPan($event)"
        (panStart)="onPanStart($event)"
        (panEnd)="onPanEnd($event)"
        class="card top-card"
        [style.transform]="cardTopTransform"
        [style.transition]="isNavigatingSpeed"
      >
        {{ cardText }}
      </div>
    </div>
    <div
      class="card next-card"
      [style.transition]="isNavigatingSpeed"
      [style.transform]="cardNextTransform"
    >
      {{ cardNextText }}
    </div>
    <div
      *ngFor="let card of cardsBackDisplay; let i = index"
      class="card card-stack"
      [style.transition]="isNavigatingSpeed"
    >
      {{ i + 2 }}
    </div>
  </div>
</div>
