@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background: black;
  .splash-logo {
    height: calc(100dvh - 200px);
    img {
      width: 300px;
      height: auto;
    }
  }
  .splash-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    flex-direction: column;

    .splash-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .splash-disclaimer {
      color: rgba(255, 255, 255, 0.75);
      padding: 0 2em;
      display: flex;
      align-items: center;
      font-weight: 100;
      font-size: 75%;
      min-height: 44px;
      width: 100%;
    }
    .splash-join-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .splash-footer > div {
    // height: 44px;
    // border: 1px solid red;
  }

  // @include button(
  //   #000,
  //   "/assets/images/urban-sprite-white.png",
  //   3000%,
  //   100%,
  //   none,
  //   #fff
  // );
  // cursor: pointer;
  // -webkit-animation: ani2 0.7s steps(29) forwards;
  // animation: ani2 0.7s steps(29) forwards;

  // &.exit-in {
  //   -webkit-animation: ani 0.7s steps(29) forwards;
  //   animation: ani 0.7s steps(29) forwards;
  // }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button-wrapper,
.splash-transition-animation {
  position: absolute;
  top: 0;
  z-index: -1000000000000000000;
  // background: white;
  background: transparent;
  height: 100dvh;
  width: 100dvw;

  &.active {
    z-index: 1000000000000000000;
  }
  .button-container-2 {
    position: relative;
    width: 100%;
    height: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 7vh;
    overflow: hidden;
    // // border: 1px solid #000;
    // font-family: 'Lato', sans-serif;
    // font-weight: 300;
    transition: 0.5s;
    // letter-spacing: 1px;
    // border-radius: 8px;

    button {
      width: 101%;
      height: 100%;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: bold;

      @include button(
        #fff,
        "/assets/images/urban-sprite.png",
        3000%,
        100%,
        none,
        #fff
      );
      cursor: pointer;
      -webkit-animation: ani2 0.7s steps(29) forwards;
      animation: ani2 0.7s steps(29) forwards;

      &.exit-in {
        -webkit-animation: ani2 0.7s steps(29) forwards;
        animation: ani2 0.7s steps(29) forwards;
      }

      &.exit-out {
        -webkit-animation: ani 0.7s steps(29) forwards;
        animation: ani 0.7s steps(29) forwards;
      }
    }
    .mas {
      position: absolute;
      color: transparent;
      text-align: center;
      width: 101%;

      position: absolute;

      margin-top: 17px;
      overflow: hidden;
    }
  }
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.hidden {
  display: none !important;
}

.splash-join-game {
  padding: 0 1em;
  // margin-top: -1em;

  button {
    width: -webkit-fill-available;
    padding: 1em;
    background: black;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
  }
}

.splash-player-name {
  color: white;
  text-align: center;
  // margin-bottom: 2em;
  // margin-top: -4em;
  h4 {
    font-size: 1.5em;
  }
  input {
    background: black;
    border: none;
    color: #FED053;
    text-align: center;
  }
}
