$background-color: black;
$card-color: white;
$emphasis-color:#FED053;

$game-header-section-height: 64px;
$game-header-size: 130px;
$game-footer-size: 250px;
$card-width: 300px;
$card-height: 400px;


$z-index-overlay: 10000;
$z-index-splash: 1000
