/*
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
*/
@font-face {
  font-family: "helvetica-neue-lt-std-75-bold";
  src: url("assets/fonts/HelveticaNeueLTStd-Bd.otf") format("woff"),
    url("assets/fonts/HelveticaNeueLTStd-Bd.otf") format("opentype"),
    url("assets/fonts/HelveticaNeueLTStd-Bd.otf") format("truetype");
}
* {
  font-family: "helvetica-neue-lt-std-75-bold";
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

app-header {
  header {
    height: calc(70px - 2em);
    max-height: calc(70px - 2em);
  }
}
app-player-hand {
  height: calc(50vh - 140px);
}

.game-container {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .game-state-container {
    display: flex;
    color: white;
    width: calc(100% - 2em);
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    border-bottom: 0.5px solid white;
    .game-state {
      text-align: center;
      width: 100%;
      font-size: 2em;
    }
  }
  .header-container {
    display: flex;
    color: white;
    width: calc(100% - 2em);
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    max-width: 850px;
    margin: 0 auto;

    .round-timer {
      font-size: 2em;
    }
    .player-score,
    .game-round {
      background-color: white;
      color: black;
      border-radius: 100%;
      padding: 0.25em;
      min-width: 1.25em;
      min-height: 1.25em;
      display: inline-block;
      text-align: center;
      font-weight: bolder;
    }
  }
  .question-container {
    height: 50vh;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;

    .question {
      height: calc(50vh - 2em);
      color: white;
      font-size: 2.5em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .hand-container {
    height: calc(50vh - 140px);
    position: relative;
    .player-hand-controls {
      height: 100%;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 100;
      top: 0;
      left: 0;
      div {
        height: 100%;
        width: 25%;
        // border: 1px solid red;
      }
      .player-hand-controls__mid {
        width: 100%;
      }
    }
    .player-hand {
      //position: relative;
      height: 100%;
      top: 0;
      overflow: hidden;
      //width: 80%;
      margin: auto;

      .player-card {
        position: absolute;
        transition: transform 1s, left 1s, opacity 1s, z-index 0s;
        opacity: 1;
        cursor: pointer;
        width: 15rem;
        height: 22rem;
        border-radius: 0.75rem;
        padding: 2rem;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        background-color: white;
        box-shadow: 0 0.5em 0.65em rgba(0, 0, 0, 0.05);
        font-size: 2em;
        transform: translateY(100vw);
        &.selected {
          z-index: 10;
          left: 50%;
          transform: translateY(0px) translateX(-50%);
        }
        &.next {
          z-index: 5;
          left: 50%;
          transform: translateY(25px) translateX(25%) rotate(10deg);
        }
        &.next2 {
          z-index: 4;
          left: 50%;
          transform: translateY(75px) translateX(70%) rotate(15deg)
        }
        &.prev {
          z-index: 5;
          left: 50%;
          transform: translateY(25px) translateX(-125%) rotate(-10deg);
        }
        &.prev2 {
          z-index: 4;
          left: 50%;
          transform: translateY(75px) translateX(-175%) rotate(-15deg);
        }
        &.chosen {

          left: 50%;
          transform: translateX(-50%) translateY(-165px) scale(1.15);
          z-index: 100;
        }
        &.gone {
          //transform: scale(0.5) translateY(-22em) translateX(-100%);
          //transform: scale(2) translateX(-15%) translateY(-25%);
          //opacity: 0.05;
          transform: translate(-50%, -150vh);
          transition: all 0.4s;
          // display: none;
        }
      }
    }
  }
}
.text-danger{

  color: orangered;

}
.player-card-actions{

    // border: 1px solid red;
    height: 100%;
    width: 100%;
    position: absolute;
    .player-card-confirm{
      // border: 1px solid red;
      height: 50%;
      width: 100%;
    }
    .player-card-discard{
      // border: 1px solid red;
      height: 50%;
      width: 100%;
    }

}
.waiting-answers-counter {
  background: white;
  border-radius: 100%;
  padding: 1em;
  width: 1em;
  height: 1em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1em;
  small {
    font-size: 40%;
  }
}
.vote-page__question-container {
  height: calc(70px - 2em);
  border-top: 1px solid white;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  div {
    height: 100%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.result-page.hidden > div:nth-child(1) {
}
.result-page {
  &.hidden {
    .player-card:nth-child(1) {
      transform: rotate(180deg) translate(-100vw, -10vh);
    }
    .player-card:nth-child(2) {
      transform: rotate(-180deg) translate(100vw, 10vh);
    }
  }
  .player-card {
    min-width: 15rem;
    min-height: 22rem;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 1;
    position: relative;
    transition: 1s;
    > div {
      cursor: pointer;
      width: 15rem !important;
      height: 22rem;
      border-radius: 0.75rem;
      padding: 2rem 1rem;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      background-color: white;
      box-shadow: 0 0.5em 0.65em rgba(0, 0, 0, 0.05);
      font-size: 2em;

      position: absolute;
      opacity: 1;
      text-align: left;
      &.question-card {
        background: black;
        color: white;
        z-index: -1;
        transform: rotate(-12deg) translateX(-20px) translateY(3em);
      }
      &.answer-card {
        z-index: 1;
        transform: rotate(12deg) translateX(0px) translateY(-2em);
        box-shadow: 5px 8px 0.65em rgba(0, 0, 0, 0.07);
      }

      &.selected {
        // position: fixed;
        transform: translateY(-3.5em);
      }
      &.transition {
        transition: 1s all;
      }
    }
  }
}
.vote-page__answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  //   padding-top: 5em;
  position: relative;
  height: calc( 100vh - 210px );
  .vote-page__answers-slider {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 3em;
    // margin-left: -1em;
    // padding-left: 3em;
    // padding-right: 6em;
    padding-top: 1em;
    padding-bottom: 1em;

    align-items: center;
    height: 100%;
    // padding-top: 7.5em;
    position: fixed;
    top: 0;
    left: 0;
  }

  .player-card {
    min-width: 15rem;
    min-height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: relative;
    > div {
      cursor: pointer;
      width: 15rem !important;
      height: 22rem;
      border-radius: 0.75rem;
      padding: 2rem 1rem;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      background-color: white;
      box-shadow: 0 0.5em 0.65em rgba(0, 0, 0, 0.05);
      font-size: 2em;

      position: absolute;
      opacity: 1;
      text-align: left;
      &.selected {
        // position: fixed;
        transform: translateY(-3.5em);
      }
      &.transition {
        transition: 1s all;
      }
      &.gone {
        transition: 1s all;
        transform: translateY(-200vw);
      }
    }
    .vote-info {
      display: flex;
      background: white;
      height: 2em;
      width: 2em;
      color: black;
      border-radius: 100%;
      padding: 1.5em;
      align-items: center;
      justify-content: center;
    }
  }
}

/* BUTTON */

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: calc(100vh - 2em);
  width: calc(100vw - 2em);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .mas{
    opacity: 0;

  }
  &.showing {
    display: flex;


  }
  // nature, urban , natureSmaller
  // https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png
  // https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png
  @include button(
    #fff,
    "/assets/images/nature-sprite.png",
    2300%,
    100%,
    none,
    #000
  );

  &.enter {
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
    .mas{
      transition: 1s all;
      transition-delay: 1s;
      opacity: 1;
    }
  }
  &.leave {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
    animation-delay: 0.75s;
    .mas{
      opacity: 0;
      transition: 1s all;
      transition-delay: 0s;
    }
  }
}

.mas {
  //   position: absolute;
  color: #000;
  text-align: center;
  width: 100%;
  font-size: 3em;
  //   position: absolute;

  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

/** FIREWORKS **/
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.pyro {
  top: 30%;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}


.modal-container-wraper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  &.showing{
    z-index: 1000;
  }
}
.modal-card{
  opacity: 0;
}
.modal-container{

  .modal-container__panel:nth-child(1){
    transform:translateY(-100vh)
  }
  .modal-container__panel:nth-child(2){
    transform:translateY(100vh)
  }

  .modal-container__panel {
    height: 50vh;
    overflow: hidden;
    position: relative;
    background: white;
    transition: all 0.75s ease-in-out;
    transform: translateX(0vh);
    opacity: 1;

    .modal-container__panel__content {
      height: 100vh;
      transition: 0.4s all;
      display: flex;
      justify-content: center;
      align-items: center;
      h1{
        font-size: 2.5em;
      }
    }
    .modal-container__panel__content.modal-container__panel__content__bottom{

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

    }
  }

  &.out{
    .modal-container__panel:nth-child(1) .modal-container__panel__content{
      transform:translateX(-100vh);
      transition: all 0.4s ease-in;

    }
    .modal-container__panel:nth-child(2) .modal-container__panel__content{
      transform:translateX(100vh);
      transition: all 0.4s ease-in;
    }
  }




  .modal-container__panel__separator{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
      background: black;
      border-top: 1px solid black;
      transition: 0.4s all ease-in;
      max-width: 0%;
      width: 100%;
      &.modal-container__panel__separator__show{
        max-width: 100%;
        transition: 0.2s all ease-in;
      }
    }
  }

  .player-card {
    min-width: 15rem;
    min-height: 22rem;
    display: flex;
    justify-content: center;
    /* align-items: end; */

    position: absolute;
    top: 0;
    z-index: 100;
    left: calc( 50vw - 7.5rem );
    width: 15rem;
    height: 22rem;

    transform: rotateZ(1000deg) scale(2);
    opacity: 0 ;
    transition: all 0.4s;

    &.show{
      opacity: 1;
    }
    > div {
      cursor: pointer;
      width: 15rem !important;
      height: 22rem;
      border-radius: 0.75rem;
      padding: 2rem 1rem;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      background-color: white;
      box-shadow: 0 0.5em 0.65em rgba(0, 0, 0, 0.05);
      font-size: 2em;

      position: absolute;
      opacity: 1;
      text-align: left;
      &.selected {
        // position: fixed;
        transform: translateY(-3.5em);
      }
      &.transition {
        transition: 1s all;
      }
      &.gone {
        transition: 1s all;
        transform: translateY(-200vw);
      }
    }
    .question-card{
      background-color: black ;
      color: white;
    }
    .vote-info {
      display: flex;
      background: white;
      height: 2em;
      width: 2em;
      color: black;
      border-radius: 100%;
      padding: 1.5em;
      align-items: center;
      justify-content: center;
    }
  }
  .player-card:nth-child(1),.player-card:nth-child(3){
    top: 10vh;
    left: calc( 50vw - 8.5rem );
    transition-delay: 0.15s;
    opacity: 0;
    &.show{
      opacity: 1;
      transition-delay: 0s;
      transform: rotateZ(-12deg) scale(1);
    }
  }

  .player-card:nth-child(2),.player-card:nth-child(4){
    top: calc(10vh + 15rem);
    left: calc( 50vw - 8.5rem );
    transition-delay: 0s;
    opacity: 0;
    &.show{
      opacity: 1;
      transition-delay: 0.15s;
      transform: rotateZ(12deg) scale(1);
    }
  }

}
.modal-container__white-bg{
  background: white !important;
}
.modal-container{
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-container.modal-container__show{

  .modal-container__panel{
    opacity: 1
  }
  .modal-container__panel:nth-child(1){
    transform:translateY(0vh)

  }
  .modal-container__panel:nth-child(2){
    transform:translateY(0vh)
  }
  &.in{

    .modal-container__panel:nth-child(1) .modal-container__panel__content{
      transform: translateX(100vh);

    }
    .modal-container__panel:nth-child(2) .modal-container__panel__content{
      transform:translateX(-100vh)
    }
  }

}

.modal-card.hidden{
  opacity: 0 !important;
  transition: 0s all !important;
}
