@use 'variables';

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

.cards,
.cards * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cover-size: 300px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html{
  overflow: hidden;
    width: 100%;
}
body {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  margin: 0 !important;
  place-content: safe center;
  overscroll-behavior: contain;
  box-sizing: none !important;
  position: fixed;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

img {
  height: 44px;
}
#app {
  min-height: 100dvh;
  background: black;

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.game-header {
  height: 130px;
}

.game-board {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.game-footer {
  height: 250px;

  display: flex;
  flex-direction: column;
  max-height: 25dvh;
  .game-footer-question {
    height: 100%;
    .game-footer-question-content {
      opacity: 0;
      height: 100%;
      color: white;
      padding: 0.5em 1.5em;
      display: flex;
      align-items: center;
      animation-duration: 0.4s;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      font-weight: 600;
    }
  }
  .game-footer-logo img {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-delay: 0.2s;
    opacity: 0;
  }
}
.player-hand {
  position: absolute;
  top: 0;
  left: 0;

  &.hidden {
    z-index: -1;
  }

  .cards li {
    /* Track this element as it intersects the scrollport */
    view-timeline-name: --li-in-and-out-of-view;
    view-timeline-axis: inline;

    /* Link an animation to the established view-timeline and have it run during the contain phase */
    animation: linear adjust-z-index both;
    animation-timeline: --li-in-and-out-of-view;

    /* Make the 3D stuff work… */
    perspective: 40em;

    position: relative;
    z-index: 1;
    will-change: z-index;

    user-select: none;
    // margin-right: -40px;
    margin-right: -100px;
    margin-bottom: -100px;
  }

  .cards li > .card-content {
    /* Link an animation to the established view-timeline (of the parent li) and have it run during the contain phase */
    animation: linear rotate-cover both;
    animation-timeline: --li-in-and-out-of-view;

    /* Prevent FOUC */
    transform: translateX(-100%) rotateY(-45deg);

    will-change: transform;
    height: 400px;
    max-height: 50dvh;
    &.placeholder {
      background: transparent;
      color: transparent;
      opacity: 0;
    }
  }
}

.cards {
  list-style: none;
  overflow-x: scroll !important;
  width: 100%;
  white-space: nowrap;

  //outline: 1px solid #333;
  //background: rgba(0 0 0 / 0.5);
  overflow: auto;
  position: fixed;
  height: 100dvh;
  display: flex;
  align-items: flex-end;
  --size: 6;
  min-height: calc(var(--cover-size) * 2.5);
  /* width: calc(var(--cover-size) * var(--size)); */
  margin: 0 auto;
  /* padding: calc(var(--cover-size) / 3 * 2) 0; */
  position: relative;
  /* max-width: 90vw; */
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  width: 100vw !important;
  min-width: 100vw;
}

.cards:not(.active) {
  scroll-snap-type: x proximity;
}

.cards li {
  scroll-snap-align: center;
  display: inline-block;
  width: var(--cover-size);
  height: 400px;
  max-height: 50dvh;
  border-radius: 1em;
}

.cards li .card-content {
  display: block;
  width: var(--cover-size);
  height: 400px;
  max-height: 50dvh;
  border-radius: 0.5em;
  // -webkit-box-reflect: below 0.5em
  //   linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.cards li:first-of-type {
  margin-left: calc(60% - (var(--cover-size) / 2));
}
.cards li:last-of-type {
  margin-right: calc(60% - (var(--cover-size) / 2));
}

.cards li > .card-content .card-body {
  height: -webkit-fill-available;

  padding: 1em;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Animation bumps up the z-index, to make sure it’s on top */
@keyframes adjust-z-index {
  0% {
    z-index: 1;
  }
  50% {
    z-index: 100; /* When at the center, be on top */
  }
  100% {
    z-index: 1;
  }
}

/* Animation that rotates the cover *
        @keyframes rotate-cover {
          0% {
            transform: translateX(-100%) rotateY(-45deg);
          }
          35% {
            transform: translateX(0) rotateY(-45deg);
          }
          50% {
            transform: rotateY(0deg) translateZ(1em) scale(1.5);
          }
          65% {
            transform: translateX(0) rotateY(45deg);
          }
          100% {
            transform: translateX(100%) rotateY(45deg);
          }
        }
        */
@keyframes rotate-cover {
  0% {
    transform: translateY(60px) rotateZ(10deg);
  }
  45% {
    transform: translateY(0) rotateZ(0deg);
  }

  55% {
    transform: translateY(0) rotateZ(0deg);
  }
  100% {
    transform: translateY(60px) rotateZ(-10deg);
  }
}

/* Animation that rotates the cover */
@keyframes rotate-cover--mt {
  0% {
    transform: translateX(-100%) rotateY(-45deg);
    left: auto; /* Workaround for https://crbug.com/1421690 */
  }
  35% {
    transform: translateX(0) rotateY(-45deg);
  }
  50% {
    transform: rotateY(0deg) translateZ(1em) scale(1.5);
  }
  65% {
    transform: translateX(0) rotateY(45deg);
  }
  100% {
    transform: translateX(100%) rotateY(45deg);
  }
}

.splash,
.overlay {
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.overlay {
  background: transparent;
  z-index: -1;
  &.active {
    z-index: 10000;
  }
}

// GAME_STATES
.state-loading {
  .game-footer-question .game-footer-question-content {
    opacity: 0;
  }

  .game-footer-logo img {
    opacity: 0;
  }
}

.question-container {
  background: black;
  color: white;
  padding: 1em;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both h1 {
    margin: 0;
  }
}
.enter-page-answer {
  // .splash {
  //   -webkit-animation: fadeOut 1s;
  //   animation: fadeOut 1s;
  //   animation-fill-mode: forwards;
  // }
  .question-container {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1s;
  }

  .game-footer-question .game-footer-question-content {
    opacity: 0;
    animation-delay: 0s !important;
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
  }

  .game-footer-logo img {
    opacity: 0;
    animation-delay: 0s !important;
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
  }

  .vote-list {
    transform: translateX(300vdw);
  }
}
.page-answer {
  .question-container {
    opacity: 1;
  }
}

.enter-page-vote {
  .question-container {
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
  }

  .game-footer-question .game-footer-question-content {
    // opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.9s;
  }

  .game-footer-logo img {
    // opacity:0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1.2s;
  }
}

.leave-page-vote {


  .game-footer-question .game-footer-question-content {
    // opacity: 0;
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
    animation-delay: 1.2s;
  }

  .game-footer-logo img {
    // opacity:0;
    animation-name: fadeOutDown;
    -webkit-animation-name: fadeOutDown;
    animation-delay: 0.9s;
  }
}
.vote-list {
  position: absolute;
  top: 0;
  left: 0;

  .vote-card {
    transition: all 0.4s ease-in-out;
    transition-delay: 1.3s;
  }
  &.hidden {
    z-index: -1000;
    .vote-card {
      transform: translateX(200dvw);
    }
  }
  .cards {
    padding-bottom: 250px;
    li {
      user-select: none;
      margin-right: 1em;
      max-height: 50dvh;
      .card-content {
        max-width: calc(var(--cover-size) - 2em);
      }
      z-index: 10;
    }
    li:first-of-type {
      margin-left: calc(50dvw + 0.5em - var(--cover-size) / 2);
    }
    li:last-of-type {
      margin-right: calc(50dvw + 0.5em - var(--cover-size) / 2);
    }
  }
  .placeholder {
    background: transparent !important;
    position: relative;
  }
  .card-content {
    transition: all 0s;
  }
  .card-throw {
    transition: all 0.4s;
    position: absolute;
    transform: scale(0.3) translate3d(300vw, 300dvh, 0) rotateZ(2000deg);
    //transition: all 0.4s
    z-index: 0;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      transform: rotateZ(-45deg) translate(-100px, 100px);
      font-size: 2.05em;
      text-transform: uppercase;
    }
  }
  .card-throw:nth-child(even) {
    // position: absolute;
    transform: scale(0.3) translate3d(-300vw, -300dvh, 0) rotateZ(-2000deg);
    //transition: all 0.4s
  }
}

.enter-page-vote {
  .card-throw {
    transition: all 0.4s;
  }
  .card-throw:nth-child(1) {
    transition-delay: 600ms;
    transform: scale(0.35) translate3d(46vw, -48dvh, 0) rotateZ(29deg) !important;
    z-index: 1;
  }
  .card-throw:nth-child(2) {
    transition-delay: 900ms;
    transform: scale(0.4) translate3d(-7vw, -30dvh, 0) rotateZ(-20deg) !important;
    z-index: 2;
  }
  .card-throw:nth-child(3) {
    transition-delay: 1100ms;
    transform: scale(0.5) translate3d(2vw, -8dvh, 0) rotateZ(-90deg) !important;
    z-index: 3;
  }
  .card-throw:nth-child(4) {
    transition-delay: 1200ms;
    transform: scale(0.7) translate3d(15vw, 0dvh, 0) rotateZ(13deg) !important;
    z-index: 4;
  }
  .card-throw:nth-child(5) {
    transition-delay: 1350ms;
    transform: scale(0.8) translate3d(6vw, 18dvh, 0) rotateZ(284deg) !important;
    z-index: 5;
  }
  .card-throw:nth-child(6) {
    transition-delay: 1600ms;
    transform: scale(0.8) translate3d(4vw, 17dvh, 0) rotateZ(-132deg) !important;
    z-index: 6;
  }
  .card-throw:nth-child(7) {
    transition-delay: 1800ms;
    transform: scale(1);
    z-index: 10;
  }
}
.page-vote {
  .game-footer-question .game-footer-question-content {
    // opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    // animation-delay: 1s;
  }

  .game-footer-logo img {
    // opacity:0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    // animation-delay: 1.2s;
  }
  .placeholder {
    width: 0 !important;
  }
  .placeholder-leave {
    background:transparent !important;
    color: transparent !important;
    box-shadow: none !important;
  }
}
.transitioning {
  .card-content, .cards li {
    transition: all 0.2s !important;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
}

// .animated {
//   animation-duration: 1s;
//   animation-fill-mode: both;
//   -webkit-animation-duration: 1s;
//   -webkit-animation-fill-mode: both
// }

// .animatedFadeInUp {
//   opacity: 0
// }

// .fadeInUp {
//   opacity: 0;
//   animation-name: fadeInUp;
//   -webkit-animation-name: fadeInUp;
// }

.display-none {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  background: white;
  border-radius: 100%;
  width: 1.5em;
  color: black;
  height: 1.5em;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  padding-top: 1px;
  min-width: 1.5em;
}
#app-header {
  height: 130px;
  color: white;
  #app-header--top {
    height: 64px;
    overflow: hidden;
    #app-header--top--section-icon,
    #app-header--top--section-action {
      height: 64px;
      transition: all 0.4s;
      #app-header--top--section-action--container {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        div {
          flex: 1;

        }
      }
      #app-header--top--section-action--container > div:nth-child(2) {
        text-align: center;
      }
      #app-header--top--section-action--container > div:nth-child(3) {
        text-align: right;
      }
    }
    #app-header--top--section-icon.display-action {
      margin-top: -64px;
    }
  }
  #app-header--bottom {
    height: 64px;
    #app-header--bottom--container {
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1em;
      div {
        flex: 1;
        width: 33%;
        max-width: 33%;
      }
    }
    #app-header--bottom--container > div:nth-child(2) {
      text-align: center;
      font-size: 200%;
    }
    #app-header--bottom--container > div:nth-child(3) {
      text-align: right;
    }
  }
}

#app-header--top--section-icon {
  flex-direction: column;
  div {
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    // min-height: 130px;
    justify-content: center;
    align-items: center;

    // height: 100%;
    min-height: 64px;
    margin-top: 0;
  }
  .page-message-visible {
    margin-top: 56px;
  }

  .header-action-message-container {
    // border: 1px solid red; height: 64px; min-height: 64px; width: 100px; display: block;
    overflow: hidden;
  }
  .header-action-message {
    margin-top: -56px;

    &.page-message-visible {
      margin-top: 56px;
    }
  }
  div:nth-child(2) {
    transition-delay: 0.2s;
  }
}

.modal-results {
  z-index: 1000;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  background: transparent;

  .card-throw {
    position: absolute;
    transform: scale(0.3) translate3d(300vw, 300dvh, 0) rotateZ(2000deg);
    //transition: all 0.4s
    z-index: 0;
  }

  .card-throw:nth-child(even) {
    position: absolute;
    transform: scale(0.3) translate3d(300vw, 300dvh, 0) rotateZ(2000deg);
    //transition: all 0.4s
    z-index: 0;
  }

  &.hidden {
    z-index: -1;
    .card-throw{

      transition: all 0s;
    }
    transition: all 0s;
  }
  .cards li {
    width: 100dvw;
    height: 100dvh;
    margin: 0 !important;
  }
  .card-content {
    transition: all 0.4s;
    &.placeholder {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0em;
      background: transparent;
    }
  }

  &.entering {
    .card-throw{
      transition: all 0.4s;
    }
    .card-throw:nth-child(1) {
      transition-delay: 600ms;
      transform: scale(0.6) translate3d(-22vw, 41dvh, 0) rotateZ(29deg) ;
      z-index: 1;
    }
    .card-throw:nth-child(2) {
      transition-delay: 900ms;
      transform: scale(0.8) translate3d(39vw, 41dvh, 0) rotateZ(-20deg) ;
      z-index: 2;
    }
    .card-throw:nth-child(3) {
      transition-delay: 1100ms;
      transform: scale(1) translate3d(11vw, 35dvh, 0) rotateZ(-30deg) ;
      z-index: 3;
    }
    .card-throw:nth-child(4) {
      transition-delay: 1200ms;
      transform: scale(1.2) translate3d(34vw, 41dvh, 0) rotateZ(13deg) ;
      z-index: 4;
    }
    .card-throw:nth-child(5) {
      transition-delay: 1350ms;
      transform: scale(1.5) translate3d(31vw, 0dvh, 0) rotateZ(284deg) ;
      z-index: 5;
    }
    .card-throw:nth-child(6) {
      transition-delay: 1600ms;
      transform: scale(10) translate3d(0vw, 0, 0) rotateZ(0deg) ;
      z-index: 6;
    }
    .card-answer{
      transition-delay: 2250ms;
      transform: rotateZ(12deg);
    }

    .card-question{
      transition-delay: 2000ms;
      transform: rotateZ(-12deg);
    }
  }

  &.leaving {
    .card-throw{
      transition: all 0.4s;
    }
    .card-throw:nth-child(1) {
      transition-delay: 1000ms !important;
      // transform: scale(0.6) translate3d(-22vw, 41dvh, 0) rotateZ(29deg) !important;
      z-index: 1;
    }
    .card-throw:nth-child(2) {
      transition-delay: 900ms !important;;
      // transform: scale(0.8) translate3d(39vw, 41dvh, 0) rotateZ(-20deg) !important;
      z-index: 2;
    }
    .card-throw:nth-child(3) {
      transition-delay: 800ms !important;;
      // transform: scale(1) translate3d(11vw, 35dvh, 0) rotateZ(-30deg) !important;
      z-index: 3;
    }
    .card-throw:nth-child(4) {
      transition-delay: 650ms !important;;
      // transform: scale(1.2) translate3d(34vw, 41dvh, 0) rotateZ(13deg) !important;
      z-index: 4;
    }
    .card-throw:nth-child(5) {
      transition-delay: 500ms !important;;
      // transform: scale(1.5) translate3d(31vw, 0dvh, 0) rotateZ(284deg) !important;
      z-index: 5;
    }
    .card-throw:nth-child(6) {
      transition-delay: 300ms !important;
      // transform: scale(10) translate3d(0vw, 0, 0) rotateZ(0deg) !important;
      z-index: 6;
    }

    .card-throw {
      // position: absolute;
      transform: scale(0.3) translate3d(300vw, 300dvh, 0) rotateZ(2000deg) !important;
      //transition: all 0.4s
    }
    .card-throw:nth-child(even) {
      // position: absolute;
      transform: scale(0.3) translate3d(-300vw, -300dvh, 0) rotateZ(-2000deg) !important;
      //transition: all 0.4s
    }

    .card-answer{
      transition-delay: 300ms !important;
      transform: translate(-100dvw, -100dvh) rotateZ(-20000deg);
    }

    .card-question{
      transition-delay: 0ms !important;
      transform: translate(100dvw, 100dvh) rotateZ(20000deg);
    }
  }

  .card-question{
    top: calc( 50% - 300px );
    left: calc( 50% - 150px );

    .card-content{

      background: black;
      color: white;
    }
  }

  .card-question,.card-answer{
    position: absolute;
    z-index: 100  ;
    transition-duration: 0.5s;
  }

  .card-answer{
    top: calc(50% - 10px);
    left: calc(50% - 150px);

  }

  .card-answer{

    transform: translate(-100dvw, -100dvh) rotateZ(-20000deg);
  }

  .card-question{
    transform: translate(1000dvw, 1900dvh)  rotateZ(20000deg);
  }
}


@keyframes firework {
  0% {
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: 45vmin;
    opacity: 0;
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1vmin;
  aspect-ratio: 1;
  z-index: 1000000;
  background: radial-gradient(circle, variables.$emphasis-color 0.2vmin, rgba(0, 0, 0, 0) 0) 50% 0%, radial-gradient(circle, variables.$emphasis-color 0.3vmin, rgba(0, 0, 0, 0) 0) 0% 50%, radial-gradient(circle, variables.$emphasis-color 0.5vmin, rgba(0, 0, 0, 0) 0) 50% 99%, radial-gradient(circle, variables.$emphasis-color 0.2vmin, rgba(0, 0, 0, 0) 0) 99% 50%, radial-gradient(circle, variables.$emphasis-color 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 90%, radial-gradient(circle, variables.$emphasis-color 0.5vmin, rgba(0, 0, 0, 0) 0) 95% 90%, radial-gradient(circle, variables.$emphasis-color 0.5vmin, rgba(0, 0, 0, 0) 0) 10% 60%, radial-gradient(circle, variables.$emphasis-color 0.2vmin, rgba(0, 0, 0, 0) 0) 31% 80%, radial-gradient(circle, variables.$emphasis-color 0.3vmin, rgba(0, 0, 0, 0) 0) 80% 10%, radial-gradient(circle, variables.$emphasis-color 0.2vmin, rgba(0, 0, 0, 0) 0) 90% 23%, radial-gradient(circle, variables.$emphasis-color 0.3vmin, rgba(0, 0, 0, 0) 0) 45% 20%, radial-gradient(circle, variables.$emphasis-color 0.5vmin, rgba(0, 0, 0, 0) 0) 13% 24%;
  background-size: 2vmin 1vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}



.cards{
  touch-action: pan-x !important;
}

.overflow-x-hidden{
  overflow-x: hidden !important;
  .cards li {
    transition: all 0.2s !important;
  }
}
.vote-page-leaving{
  transition: opacity 1.4s ease-out;
    opacity: 0;
}


li.chosen{
  background: transparent !important;
  color: transparent !important;
  z-index: -1;
  pointer-events: none !important;
  box-shadow: none !important;
  opacity:0 !important;
  // display: none;
}

.app-header--bottom-container--player{
  display:flex;

  text-transform: capitalize;

  span{

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc( 100% - 1.5em );
    display: inline-block;

  }
}

.round-ending{

  .app-header--bottom-container--player--round-time{
    color: red;
  }
}



.btn-nav {



    position: fixed;
    top: 2.5em;
    right: 1.5em;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 200;
    zoom: 0.6;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: #FED053;
}

.btn-nav:hover .icon-bar {
  background-color: #FED053;
}

.nav-content {
  position: fixed;
  left: 100dvw;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,.9);
  display: block;
  height: 100%;
  z-index: 199;
  width: 100dvw;
}

.below-line {
  width: 15%;
  height: 3px;
  background-color: #FED053;
  position: relative;
  left: 42.5%;
  top: 40px;
}

.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  top: 10%;
}

.item-anchor:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: transparent;

}

.item-anchor {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 15px;
}

.item-anchor:hover,
.item-anchor:focus {
  color: #FED053;

}

.item-anchor:hover:after,
.item-anchor:focus:after{
  width: 100%;
  background: #FED053;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-item {
  margin: 40px auto;
  text-align: center;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: #FED053;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color: #FED053;
}

.animated .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

@keyframes showNav {
  from {
    left: 100dvw;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    left: 100dvw;
  }
  to {
    left: 0;
  }
}

@-moz-keyframes showNav {
  from {
    left: 100dvw;
  }
  to {
    left: 0;
  }
}

@-o-keyframes showNav {
  from {
    left: 100dvw;
  }
  to {
    left: 0;
  }
}

.showNav {
  -webkit-animation: showNav 1s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav 1s ease forwards;
}

@keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: 100dvw;
  }
}

@-webkit-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: 100dvw;
  }
}

@-moz-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: 100dvw;
  }
}

@-o-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: 100dvw;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}
