<div class="game-header">
  <header id="app-header" class="app-section">
    <section id="app-header--top">
      <div
        id="app-header--top--section-icon"
        class="flex-center"
        [class.display-action]="isAnswerSelected || isVoteSelected"
      >
        <!--display-action-->
        <div class="header-action-message-container">
          <div
            class="header-action-message"
            [class.page-message-visible]="pageMessage"
          >
            {{ pageMessage }}
          </div>
          <img src="/assets/images/logo-black.png" class="logo-small" />
        </div>

        <button class="btn-nav" (click)="toggleSideMenu()" [class.animated]="isSideMenuOpen">
          <span class="icon-bar top"></span>
          <span class="icon-bar middle"></span>
          <span class="icon-bar bottom"></span>
        </button>
      </div>
      <div id="app-header--top--section-action" class="flex-center">
        <div id="app-header--top--section-action--container">
          <div>{{ headerMessage }}.</div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-arrow-up-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
              />
            </svg>
          </div>
          <div></div>
        </div>
      </div>
    </section>
    <section>
      <hr />
    </section>
    <section id="app-header--bottom">
      <div id="app-header--bottom--container">
        <div class="app-header--bottom-container--player">
          <span>
            {{ playerName }}
          </span>
          <span class="badge">{{ score }}</span>
        </div>
        <div class="app-header--bottom-container--player--round-time">
          {{ roundTime }}
        </div>
        <div>Round #{{ round }}</div>
      </div>
    </section>
  </header>
</div>
<div id="game-side-menu" class="nav-content hideNav hidden" [class.hideNav]="!isSideMenuOpen" [class.hideNav]="!isSideMenuOpen" [class.animated]="isSideMenuOpen" [class.showNav]="isSideMenuOpen">
  <ul class="nav-list">
    <li class="nav-item"><a href="index.html" class="item-anchor">Home</a></li>
    <li class="nav-item"><a href="about.html" class="item-anchor">About</a></li>
    <li class="nav-item"><a href="projects.html" class="item-anchor">Projects</a></li>
    <li class="nav-item"><a href="contact.html" class="item-anchor">Contact</a></li>
  </ul>
  <div class="line-betwen"></div>
  <div class="social-links">
    <ul class="social-list">
      <li><a href="https://www.facebook.com/mitar.djakovic.7" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://rs.linkedin.com/in/mitar-djakovic-77490ab5" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="mailto:mitar-djakovic2401993@hotmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
      <li><a href="https://github.com/roker93" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="https://codepen.io/roker2401993" target="_blank"><i class="fa fa-codepen"></i></a></li>
    </ul>
  </div>
</div>
